@use '../../../../../variables';

.quick-stats-table-container {
    .quick-stats-header-container {
        display: flex;
        justify-content: center; /* Centers the header horizontally */
        margin-bottom: 12px; /* Space below the header */

        .quick-stats-header {
            font-size: 16px; /* Slightly smaller than main title */
            font-weight: 500; /* Medium weight for definition */
            color: variables.$data-header-text-color; /* Subtle dark gray */
            border-bottom: 1px solid variables.$gray-border; /* Underline for a definitive look */
            padding-bottom: 4px; /* Space between text and underline */
            text-align: center; /* Ensures text is centered */
            max-width: fit-content; /* Prevents the underline from stretching */
        }
    }


}