
@use "../../../../variables";

/* Container styles */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    /* Header styles */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        h1 {
            color: variables.$white-background-header-title-color;
        }
        
        .date-time {
            margin-top: -.25rem;
            font-size: .85em;
            opacity: .75;
        }
    }
    
    /* Content styles */
    .content {
        display: flex;
        gap: 20px;

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    
    }
}