
@use "../../../../variables";

/* Container styles */
.daily-matchups-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;

    @media (max-width: 500px) {
        padding: 20px 5px;
    }
  
    /* Header styles */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        @media (max-width: 500px) {
            padding-left: 10px;
        }    

        h1 {
            color: variables.$white-background-header-title-color;
        }
        
        .date-time-wrapper {
            display: flex;
            align-items: center;
            margin-top: -.25rem;
            font-size: .85em;
            color: variables.$white-background-header-title-color;

            .tooltip-icon-wrapper {
                padding-left: .25rem;
            }
        }
    }
    
    /* Content styles */
    .content {
        display: flex;
        gap: 20px;

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }

    .no-matchups-content {
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-size: 1.5rem;
        color: variables.$white-background-header-title-color;
    }
}