@use '../variables';

/* Typography */
h1, h2, h3, p {
    margin: 0 0 10px;
}

h1 {
    font-size: 1.8rem;
    color: variables.$header-text-color;
}

h2 {
    font-size: 1.5rem;
    color: variables.$header-text-color;
}

h3 {
    font-size: 1.2rem;
    color: variables.$header-text-color;
}

p {
    font-size: 1rem;
    color: variables.$paragraph-text-color;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-bar-container {
        display: flex;
        width: 100%;
    }
}