@use '../../../../variables';

$hover-color: lighten(variables.$main-purple, 10%);
$active-color: lighten(variables.$main-purple, 20%);
$border-radius: 5px;
$transition-duration: 0.3s;

  // Mixin for box-shadow
  @mixin box-shadow($color, $spread) {
    box-shadow: 0px 4px 6px $color $spread;
  }

.backtest-parameters-form-container {
  
  .form-body {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    justify-content: space-between;
    
    .strategy-inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .select-container,
      .input-container {
        display: flex;
        flex-direction: column;
        padding: 7px 0px;
        min-width: 8rem;

        input {
          max-width: 5rem;
        }

        .select-label,
        .input-label {
          padding: 3px 0px;
          font-size: small;
          font-weight: 500;
        }
      }
    }
  }

  .run-button {
    background-color: variables.$main-purple;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-duration, transform $transition-duration;
    @include box-shadow(rgba(0, 0, 0, 0.1), 1px);
    margin-bottom: -1rem;
    height: 2rem;
    width: 5rem;

    &:hover {
      background-color: $hover-color;
      transform: translateY(-2px);
    }

    &:active {
      background-color: $active-color;
      transform: translateY(1px);
    }

    &:focus {
      outline: none;
      @include box-shadow(rgba(0, 0, 0, 0.2), 2px);
    }
  }

  .advanced-settings-div {
    .text-button {
      display: inline-block;
      color: variables.$main-purple;
      cursor: pointer;
      text-decoration: underline;
      font-weight: bold;
      font-size: small;
      margin-bottom: 1rem;
  
      &:hover {
        color: $hover-color;
        text-decoration: none;
      }
  
      &:active {
        color: variables.$main-purple-dark; 
      }
    }
  }
}