@use '../../../variables';

.primary-navbar {
  background: linear-gradient(45deg, #0a0a23, #1a0033);
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e5e5;
  height: 4rem;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 4.75rem;
      width: 4.75rem;
    }

    .sbs-beta {
      border: 1px solid adjust-color(lighten(variables.$color-1, 20%), $saturation: 70%);
      border-radius: 4px;
      padding: .15rem .5rem .15rem .5rem;
      color: adjust-color(lighten(variables.$color-1, 20%), $saturation: 70%);
    }
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .nav-link {
      position: relative;
      margin-left: 2rem;

      a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        display: block;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: variables.$blue-highlight;
        }
      }
    }

    .nav-links-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: variables.$main-purple-dark;
      list-style: none;
      margin: 0;
      padding: 0.4rem 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      display: none;
      z-index: 10;

      a {
        padding: 0.5rem 1rem;
        color: white;
        white-space: nowrap;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: variables.$main-purple;
          color: white;
        }
      }
    }

    .nav-link:hover .nav-links-dropdown {
      display: block;
    }
  }
}
