@use '../../../../../variables';

.past-occurrences-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;

    .sbs-query-builders-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .77rem;
        width: 30rem;

        .sbs-query-builder-wrapper {
            padding: .25rem;
            border: 1px solid variables.$fd-gray;
            border-radius: 4px;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        padding: .25rem 0rem .5rem 0rem;
    }
}