@use '../../../../../variables';

.optimal-odds-container {
    display: flex;
    flex-direction: column;

    .optimal-odds-tables-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .single-optimal-odds-tables {
            display: flex;
            justify-content: center;
            padding: .5rem 2rem 0 0;
        }

        .optimal-odds-tables {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
    }
}