@use '../../../../../variables';

.matchup-bookmaker-lines-component-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sportsbook-lines-container {
        display: flex;
        flex-direction: column;

        .sportsbook-lines-table-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .table-actions {
                display: flex;
                justify-content: center;

                .select-wrapper {
                    width: 12rem;
                }
            }

            .table-wrapper {
                display: flex;
                justify-content: center;
                padding: 1.25rem 1.5rem 0 0;
            }
        }
    }
}