@use '../../../../../variables';

.matchup-bookmaker-lines-component-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sportsbook-lines-container {
        display: flex;
        flex-direction: column;

        .sportsbook-lines-table-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            
            .table-actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .75rem;
                
                .select-wrapper {
                    width: 9.25rem;
                }
            }

            .table-wrapper {
                padding-right: 25px;
            }
        }
    }
}