@use '../.././../../variables';

.matchup-lines-container {    
    .pagination-wrapper {
        padding-top: 1.66rem;
    }

    .data-refresh-date-time-wrapper {
        margin-top: -1rem;
        margin-bottom: 1rem;
        font-size: .8rem;
        color: variables.$white-background-header-title-color;
    }

    @media (max-width: 420px) {
        .data-refresh-date-time-wrapper {
            margin-top: -1rem;
            margin-bottom: 1rem;
            padding-left: 5px;
            font-size: .8rem;
            color: variables.$white-background-header-title-color;
        } 
    } 
}
