@use '../../../variables';

.quick-stats-cell-container {
    .quick-stats-label-positive {
        color: variables.$color-1;
    }

    .quick-stats-label-negative {
        color: variables.$color-6;
    }

    .quick-stats-label-aggregation {
        background-color: rgb(variables.$color-1, .3);
        font-weight: 600;
        margin: -3px; 
        span {
            padding: 3px;
        }
    }
}