@use '../../../variables';

.quick-stats-cell-container {
    .positive {
        color: adjust-color(lighten(variables.$color-1, 20%), $saturation: 70%);
    }

    .negative {
        color: adjust-color(lighten(variables.$color-6, 20%), $saturation: 70%);
    }

    .label {
        color: variables.$text-color;
    }

    .quick-stats-agg{
        font-weight: 600;
        background-color: rgb(variables.$fd-gray, .35);
    }

    span {
        padding-left: .15rem;
    }
}