$dark-blue: #1a1b41;
$dark-purple: #2e2c5c;
$highlight-purple: #6a5acd;
$text-color: #ffffff;
$text-subtle: #a9a9a9;
$main-purple: #4b0082;
$main-purple-dark: #1a0033;
$blue-highlight: #6AA3E3;

$header-text-color: #333;
$paragraph-text-color: #666;

$gray-border: #ddd;
$offwhite-background: #f9f9f9;