$dark-blue: #1a1b41;
$highlight-purple: #6a5acd;
$text-color: #ffffff;
$text-subtle: #a9a9a9;
$text-subtle-lighter: #bbbbbb;
$silver: #c0c0c0;
$main-purple: #4b0082;
$main-purple-dark: #1a0033;
$blue-highlight: #6AA3E3;

$header-text-color: #333;
$data-header-text-color: #555;
$paragraph-text-color: #666;

$gray-border: #ddd;
$offwhite-background: #f9f9f9;

// mui
$mui-dark-background-color: #333;

// Analogous colors
$color-1: #4699b7;
$color-2: #4661b7;
$color-3: #6446b7;
$color-4: #9c46b7;
$color-5: #b74699;
$color-6: #b74661;

// Draftkings
$dk-green: #53d337;
$dk-organge: #f46c22;
$dk-black: #000000;
$dk-dark-gray: #242424;

// Fanduel
$fd-gray: #455058;
$fd-blue: #1493FF;

// BetMGM
$betmgm-gold: #d4b962;
$betmgm-black: #000;