@use '../../../../../variables';

.quick-stats-table-component-container {
    overflow: auto;
    border-radius: 4px;
    border: 1px solid variables.$dk-dark-gray;

    table {
        border-collapse: collapse;
        width: 100%;

        th {
            background-color: rgb(variables.$fd-gray, .5);
            color: variables.$text-color;
            .header-wrapper {
                padding-left: .15rem;
            }
        }

        td, th {
            border: 1px solid lighten(variables.$dk-dark-gray, 10%);
            padding: 3px;
            font-size: .7em;
            padding: 0;
        }

        tr {
            background-color: variables.$dk-dark-gray;
        }
    }

}