@use '../../../variables';

.quick-stats-table-component-container {
    table {
        border-collapse: collapse;
        width: 100%;

        th {
            background-color: rgb(variables.$fd-gray, .2);
        }

        th, td {
            font-size: .7em;
        }

        td, th {
            border: 1px solid variables.$gray-border;
            padding: 3px;
        }
    }

}