@use '../../../variables';

.odds-cell- {
  background-color: variables.$main-purple;
  color: variables.$text-color;
}

.odds-cell-DraftKings {
  background-color: variables.$dk-dark-gray;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$dk-green;
  }
}

.odds-cell-FanDuel {
  background-color: variables.$fd-gray;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$fd-blue;
  }
}

.odds-cell-BetMGM {
  background-color: variables.$betmgm-black;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$betmgm-gold;
  }
}

.odds-cell-DraftKings,
.odds-cell-FanDuel,
.odds-cell-BetMGM,
div[className=".odds-cell-"] {
  width: 50px;
  height: min(100vw, 40px / 1.75);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.025);
  }

  .odds-label {
    font-size: .7em;
  }

  .odds-value {
    font-size: .7em;
    font-weight: 600;
  }
}
