@use "../../../variables";

.login-page-container {
    // TODO get a sick loading animation for the login page
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    width: 100vw;
    min-width: 580px;

    .login-content-container {       
        color: variables.$header-text-color;
        margin: 20px;
        padding: 20px;
        border: 1px solid variables.$gray-border;
        border-radius: 10px;
        background-color: variables.$offwhite-background;
        width: 450px;
        padding: 1rem 1rem 3rem 1rem;

        .login-content-header {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 1rem 0rem 1rem 0rem;

            .logo-wrapper {
                display: flex;
                justify-content: center;
                img {
                    max-width: 233px;
                }
            }
        }


        .login-options {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            padding-top: .5rem;
            padding-bottom: .5rem;

            .login-wrapper {
                display: flex;
                justify-content: center;
            }

            .logo-img {
                width: 1.5rem;
                height: 1.5rem;
            } 
        }
    }
}