.chart-analyzer-filters-container {
    .accordian-summary-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .summary-wrapper {
            width: 100%;
        }

        .delete-icon-wrapper {
            padding: 0 .55rem 0 .55rem;
        }
    }

    .filter-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .77rem;
        margin-left: -.5rem;

        .filter-option-wrapper {
            padding: 0 .5rem 0 .5rem;
        }
    }
}