@use '../../../variables';

.matchup-bookmaker-lines-component-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sportsbook-lines-container {
        display: flex;
        flex-direction: column;

        .header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .sportsbook-lines-table-container {
            display: flex;
            flex-direction: column;

            .select-wrapper {
                width: 8rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }

            .table-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .market-toggle-container {
            background-color: white;
            color: white;
        }
    }
}