@use '../../../variables';

.matchup-bookmaker-lines-component-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sportsbook-lines-container {
        display: flex;
        flex-direction: column;

        .sportsbook-lines-table-container {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            .table-actions {
                display: flex;
                flex-direction: column;
                gap: .75rem;
                width: 100%;

                .select-wrapper {
                    width: 13.4rem;
                }
            }

            .table-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}