@use '../../../variables';

.matchup-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$header-text-color;
    margin: 20px;
    padding: 20px;
    border: 1px solid variables.$gray-border;
    border-radius: 10px;
    background-color: variables.$offwhite-background;
    min-width: 500px;
    max-width: 500px;
    overflow-wrap: normal;
    
    transition: 0.3s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .team-info {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .date-start {
            font-size: .8rem;
            position: absolute;
        }

        .team {
            text-align: center;
        }
        
        .team-logo {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 10px;
        }
        
        .team-name {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        
        .team-lineup {
            list-style: none;
            padding: 0;
        }

        .player {
            font-size: 1em;
            margin: 5px 0;
        }

        .team-stats-wrapper {
            font-size: .8rem;
            margin-bottom: -.45rem;
        }
    }
    
    .lines-and-stats {
        width: 100%;
        text-align: center;

       .instructions {
        font-size: small;
       }
        
        .lines-and-stats-content {
            text-align: left;

            .header-container {
                display: flex;
                align-items: center;
                gap: 1rem; // Space between the text and the line
                padding-top: 40px;
                padding-bottom: 1.2rem;
              
                .line {
                  flex-grow: 1;
                  height: 1px; // Adjust thickness
                  background-color: variables.$gray-border; // Adjust color as needed
                }
              
                h3 {
                  margin: 0; // Remove default margin for a cleaner look
                }
            }
            
            h3 {
                margin-top: 0;
                font-size: 1em;
            }

            p {
                margin: 10px 0;
                font-size: small;
            }
        }
    }
    
    .footer {
        padding-bottom: 20px; 
    }
}