@use '../../../variables';

.optimal-odds-container {
    display: flex;
    flex-direction: column;

    .optimal-odds-tables-container {
        display: flex;
        align-items: center;
        
        .optimal-odds-tables {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
    }
}