.betting-odds-table-container {
    width: 100%;
    height: 100%;

    .betting-odds-table {        
        table {
            border-collapse: collapse;
        }
    }
    
    .odds-table-col-header-cell {
        padding: .25rem;
        text-align: center;
        font-size: .8em;
        font-weight: 500;
    }

    .odds-table-row-header-cell {
        padding-right: .35rem;
        text-align: right;
        font-size: .8em;
    }
}