@use '../../../variables';

.optimal-odds-table-container {
    .optimal-odds-table {

        table {
            border-collapse: collapse;
            text-align: center;

            th, td {
                border: 1px solid variables.$dk-dark-gray; // Border between cells
                vertical-align: middle;

                div[class*="odds-cell-"] {
                    width: 40px;
                    height: 8px;
                }
            }

            td {
                font-size: .9rem;
            }

            th {
                font-size: .8rem;
                font-weight: 500;
                border-top: none;
                border-left: none;


                .optimal-odds-table-col-header-cell,
                .optimal-odds-table-row-header-cell {
                    width: 70px;
                }

                .optimal-odds-table-description-cell {
                    font-weight: 600;
                    padding: .2rem;
                }
            }
        }
    }
}
