@use '../../../../../variables';

.odds-cell- {
  background-color: variables.$main-purple;
  color: variables.$text-color;
}

.odds-cell-DraftKings {
  background-color: variables.$dk-dark-gray;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$dk-green;
  }
}

.odds-cell-FanDuel {
  background-color: variables.$fd-gray;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$fd-blue;
  }
}

.odds-cell-BetMGM {
  background-color: variables.$betmgm-black;

  .odds-label {
    color: variables.$text-color;
  }

  .odds-value {
    color: variables.$betmgm-gold;
  }
}

.odds-cell-wrapper {
  display: flex;

  &:hover {
    transform: scale(1.025);
  }

  .sportsbook-description {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;    
    font-size: .7rem;
    font-weight: 600;
    background-color: variables.$sbs-purple-blue-main;
    color: white;
    height: min(100vw, 40px / 1.75);
    padding: 10px 1px 10px 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.odds-cell-DraftKings,
.odds-cell-FanDuel,
.odds-cell-BetMGM,
div[className=".odds-cell-"] {
  width: 50px;
  height: min(100vw, 40px / 1.75);
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;

  .odds-value {
    font-weight: 600;
  }

  .odds-label,
  .odds-value {
    font-size: 0.7rem;
    line-height: 1rem;
    display: block;
  }
}
